#anchors-navbar{
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    padding: 5px 10px;
    position: fixed;
    /*background-color: rgba(255,255,255,0.98);*/
    right: 50px;
    top: 68px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
    cursor: pointer;
    text-align: right;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

#anchors-navbar ul{
    text-align: left;
    padding-right: 10px;
}


#goTop{
    position: fixed;
    right: 50px;
    bottom: 68px;
    border: 1px solid #ccc;
    z-index: 999;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    box-shadow: 5px 5px 2px #ccc;
    background-color: #fff;
    color: #333;
}